<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .left {
            float: left;
            padding: 0 10px 10px 0;
            width: 20%;
        }
        .right{
            float: right;
            width: 60%;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Profile Page</h1>
    <hr><br><br>
    <img src="photos/profil.jpg" class="left">
    <label>Name : Busra</label><br><br>
    <label>Surname : Alkan</label>
    <div class="row, right">
        <h2>My Images</h2>
        <div class="column">
            <img src="photos/1.jpg" alt="Nature" style="width:100%">
        </div>
        <div class="column">
            <img src="photos/2.jpg" alt="Snow" style="width:100%">
        </div>
        <div class="column">
            <img src="photos/3.jpg" alt="Mountains" style="width:100%">
        </div>
        
        
    </div>  


</body>

</html>