<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .left {
            float: left;
            padding: 0 10px 10px 0;
            width: 20%;
        }

        .right {
            float: right;
            width: 60%;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Profile Page</h1>
    <hr><br><br>

    <div class="left">
        <img src="photos/profil.jpg" style="width: 300px; height: 300px;">
        <br>
        <h3 style="color: chocolate;">Name Surname : </h3>
        <span id="profilName" style="color: chocolate;"></span>
    </div>



    <br><br>

    <div class="row, right" style="margin-right: 30px;">
        <h2>My Images</h2>
        <div class="column">
            <img src="photos/1.jpg" alt="Nature" style="width:100%">
        </div>
        <div class="column">
            <img src="photos/2.jpg" alt="Snow" style="width:100%">
        </div>
        <div class="column">
            <img src="photos/3.jpg" alt="Mountains" style="width:100%">
        </div>
        <div class="column">
            <img src="photos/4.jpg" alt="Mountains" style="width:100%">
        </div>
        <br><br><br>
    </div>
    <br><br><br><br>
    <div style="margin-left: 10px; margin-top: 400px;">
        <button type="submit" id="editButton" class="button">Edit Your Profile</button>
        <button type="submit" id="uploadButton" class="button">Upload İmage</button><br><br><br>
    </div>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content, m">
            <span class="close">&times;</span>
            <div id="log">

            </div>
        </div>
    </div>
</body>

</html>