<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <form id="form">
        <h1>Sign Up</h1>
        <br>
        <hr>
        <label for="name"><b>Name</b></label>
        <input type="text" id="name"><br><br>
        <label for="surname"><b>Surname</b></label>
        <input type="text" id="surname"><br><br>
        <label for="username"><b>User Name</b></label>
        <input type="text" id="username"><br><br>
        <label for="password"><b>Password</b></label>
        <input type="password" name="" id="password"><br><br>
        <input type="submit" id="signup" value="signup">
        <hr>
    </form>

</body>



</html>