<br><br><br>
<label for="fInput">Upload Image</label>
<input onchange="uploader.showPreview(event)" type="file" id="fInput" style="display: none;" accept="image/*">

<input type="text" id="tag1" style="width: 30%; padding: 8px 6px;">
<input type="text" id="tag2" style="width: 30%; padding: 8px 6px;">
<input type="text" id="tag3" style="width: 30%; padding: 8px 6px;">

<button id="btnSubmit" onclick="uploader.upload()" type="submit" class="button">Save</button>
<div class="preview">
    <img id="preview" width="200" height="200" style="display: none; margin: auto;">
</div>